

/* Body global */

body{
    display: flex;
    flex-direction: column;
    --couleur-primaire: #ff3131;
    --couleur-secondaire: rgb(29, 28, 28);
    margin: 0;
    overflow-x: hidden;
    font-family: 'Imprima', sans-serif;

}


body::-webkit-scrollbar {
    width: 10px; 
    color: black;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #000000; 
    border-radius: 5px; 
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  }



/* Footer global */

  .mainFooter{

    bottom: 0;
    width: 100%;
    background-color: var(--couleur-primaire); 
    padding: 10px;



}
.logoLinkedin{
    padding: 10px;
    width: 75px;
    height: auto;
    transition: opacity 0.1s;

}

.linkLinkedin{
    height: 100%;
    padding-left: 20px;

}

.logoLinkedin:hover{
    opacity: 50%;
}




/* Main Page */

.mainBtn:hover{
    background-size: cover;
    background-color: rgb(37, 39, 37);

}
.navMain{
    display: grid;
    grid-template-columns:  auto repeat(7, 1fr) ;
    padding: 10px 10px 10px 50px;
    background-color: var(--couleur-secondaire);
    margin: 0;
    align-items: stretch; 

}

.logoSI{
    width: 80px;
    height: auto;

}

.mainBtn{

    
    text-decoration: none;

    color: rgb(255, 255, 255);
    padding: 30px 5px 0px 5px;
    text-align: center;
    width: 150px;
    transition: background-color 0.3s;
    border-radius: 10px ;


}

.mainSelect{
    appearance: none;
    border: none;
    background-color: var(--couleur-secondaire);
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding-bottom: 8px;
    text-align: center;
    transition: background-color 0.3s;
    border-radius: 10px ;
    outline: none
}


.mainSelect option{
    appearance: none;
    border: none;
    background-color: var(--couleur-secondaire);
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding-bottom: 15px;
    text-align: center;
    transition: background-color 0.3s;
    border-radius: 10px ;
}

.mainSelect:hover{
    background-size: cover;
    background-color: rgb(37, 39, 37);
}


.navSearch{
    padding-left: 15px;
    margin-top: 22px;
    height: 40px;
    width: 340px;
    border-radius: 40px;
    border: none;
    grid-column: 7 / 8;
    background-color: #555;


}


::placeholder{
    color: white;
}

.imgMain{
    width: 500px;
    height: 400px;


}

.panel{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 50px 100px 50px;
    align-items: center;
    
    
    

 
}


.panel1{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;


}

.titre{
    background-color: var(--couleur-primaire);
    text-align: center;
    width: 500px;
    margin: 0;
    padding: 25px 0px 25px 0px;
    color: rgb(255, 255, 255);
    font-family: 'Imprima', sans-serif;


    
}

.paragraphMain{

    width: 500px;
    text-align: center;
    padding: 2px;
    margin: 0;
    font-family: 'Imprima', sans-serif;


}








@media (max-width: 1200px) {

    .panel {
      grid-template-columns: 2fr;
    }

    .navMain{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;



    }

 }


.testMenuDeroulant{
    text-align: center;
    align-items: center;
    position: relative;
}

 .menuDeroulantBtn{
    height: 100%;
    width: 100%;
    border: none;
    background-color:var(--couleur-secondaire);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
    font-size: 16px;
    padding-bottom: 7px;
}


.menuDeroulantBtn:hover{
    background-color: rgb(37, 39, 37);
}

.listOptions{
         position: absolute;
        display: none;
        flex-direction: column;
        background-color: var(--couleur-secondaire);
        padding-right: 364px;
        padding-bottom: 25px;
        padding-top: 20px;
        width: 100%;
}

.listOptions.show{
    display: flex;
}

.option{
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 15px;
    text-align: left;
    border-radius: 16px;
    transition: background-color 0.3s;
    padding-bottom: 5px;
    width: 100%;

}

.option:hover{
    background-color: rgb(37, 39, 37);
}

/* Page La Promo */

.mainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.galleryTitle{
    text-decoration: underline;


}

.gallery{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr ;
    padding-right: 50px;

}



