
body{
    --couleur-primaire: #ff3131;
    --couleur-secondaire: rgb(29, 28, 28);
    margin: 0;

}

/* .headerMain{
    padding: 25px 0px 25px 10px ;
    display: flex;

    align-items: center;
    background-color: gray;

} */

.navMain{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px 10px 50px;
    background-color: var(--couleur-secondaire);
    margin: 0;





}

.logoSI{
    width: 80px;
    height: auto;
}


.mainBtn{

    
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 100px;
    font-weight: bold;
    width: 150px;
    


}

.navSearch{
    margin-left: 450px;
    padding-left: 15px;
    height: 40px;
    width: 340px;
    border-radius: 40px;
    border: none;

}


.imgMain{
    width: 500px;
    height: 400px;


}

.panel{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 50px 100px 50px;
    
    

 
}


.panel1{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;


}

.titre{
    background-color: var(--couleur-primaire);
    text-align: center;
    width: 500px;
    margin: 0;
    padding: 25px 0px 25px 0px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;


    
}

.paragraphMain{
    color: white;
    background-color: var(--couleur-secondaire);
    width: 500px;
    text-align: center;
    padding: 2px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;


}


.mainFooter{
    background-color: var(--couleur-primaire);
    min-height: 10vh;
    width: 100%;
}


@media (max-width: 1000px) {
    .panel {
      grid-template-columns: 2fr;
    }
 }